.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-color);
}
.address-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 1200px) {
        align-items: start;
    }
}

.address-list{
    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}
.logo-footer {
    margin-bottom: 28px;
    display: block;

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--primary-white-color);

    transition: color 250ms var(--cubic);
}

.logo-footer-part {
    color: var(--accent-text-color);
}

.address{
    text-align: center;
}
.address-item:not(:last-child) {
    margin-bottom: 12px;
}

.address-link {
    font-style: normal;
    line-height: 1.71;
    color: var(--primary-white-color);
    text-decoration: none;

    transition: color 250ms var(--cubic);
}

.address-link-hue {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    transition: color 250ms var(--cubic);
}

.logo-footer:focus {
    color: var(--accent-text-color);
}

.address-link:hover,
.address-link:focus {
    color: var(--accent-text-color);
}

.address-link-hue:hover,
.address-link-hue:focus {
    color: var(--accent-text-color);
}

/* ---------- footer-icon----------- */

.join-in {
    margin-bottom: 20px;
    font-weight: 700;
    font-style: normal;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;

    color: var(--primary-white-color);
    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.footer-icon-list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.footer-icon-item {
    width: 44px;
    height: 44px;
}

.footer-icon-link {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 250ms var(--cubic);
}

.footer-icon {
    fill: var(--primary-white-color);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: var(--accent-text-color);
}

.footer-container {
    @media screen and (min-width: 480px) { 
        display: flex;
        flex-direction: column;
        gap: 60px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}


/* -----------footer----------- */

.footer-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: var(--primary-white-color);
    transition-property: border, filter;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus,
.footer-input:hover {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.input-footer-wrap {
    display: flex;@media screen and (min-width: 480px) {
        flex-direction: column;
    }
   
}
.form-wrap{
    @media screen and (min-width: 480px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap:0;
    }
}

.btn-join {
    margin-left: 12px;
    width: 200px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--primary-white-color);
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    transition: background-color 250ms var(--cubic);
}

.btn-join:focus,
.btn-join:hover {
    background-color: var(--color-hero-button);
}

.footer-input-icon {
    fill: var(--primary-white-color);
}

.footer-icon-btn {
    margin-left: 10px;
}

.nav {
    display: flex;
    align-items: center;

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.menu {
    display: none;
    gap: 50px;

    & .link.current {
        color: var(--accent-text-color);
        position: relative;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.menu__link {
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

// mob-menu

.communication {
    display: none;
    margin-left: auto;
    gap: 50px;

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: auto;
        gap: 50px;
        flex-direction: column;
        gap: 10px;
        padding-top: 21px;
        padding-bottom: 21px;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
}


.communication__item {
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.communication__icons {
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: 1200px) {
        width: 16px;
        height: 12px;
    }
}

.icon-tel {
    @media screen and (min-width: 1200px) {
        width: 10px;
        height: 16px;
    }
}

.js-open-menu {
    margin-left: auto;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    padding: 22px 8px;
    transition: fill 250ms var(--cubic);
    background-color: transparent;
    margin: 10px 0 10px auto;
    transform: translateX(0%);
    transition: fill 250ms var(--cubic);

    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.mob-menu-list {
    font-weight: 500;
    font-size: 40px;
    line-height: calc(47 / 40);
    letter-spacing: 0.02em;
}

.mob-menu__link {
    color: #212121;
}

.mob-menu__link:hover,
.mob-communication__item:hover {
    color: var(--accent-text-color);
}

.mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-communication {
    margin-bottom: 64px;
}

.mob-communication__item {
    font-weight: 500;
    font-size: 34px;
    line-height: calc(40 / 34);
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
}

.mob-menu__link--current {
    color: var(--accent-text-color);

    @media screen and (min-width: 768px) {
        &::after {
            position: absolute;
            bottom: 0;

            content: '';
            display: block;
            width: 100%;
            height: 4px;

            background: var(--accent-text-color);
            border-radius: 2px;
        }
    }
}

.mob-soc {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.mob-soc-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-text-color);
}

.mob-soc-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, .2);
}

.menu-container {
    top: 0;
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: #ffffff;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.js-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(-150%);
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 48px 40px;
    background-color: #ffffff;
    transition: transform 250ms var(--cubic);
    z-index: 1;
}

.menu-container.is-open {
    transform: translateX(0);
}

.js-close-menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    border: none;
    background-color: transparent;
    transition: fill 250ms var(--cubic);

    &:hover,
    &:focus {
        fill: var(--accent-text-color);
    }
}